/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.dusk.local
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.vagrant
Envoy.blade.php
.htaccess

#Removed files or changed name of files
resources\views\welcome.blade.php
tests/Browser/ExampleTest.php
ca.homestead.laravel-app.crt
ca.homestead.laravel-stagevinder.crt
resources\sass\components\previewApplication.scss
resources\sass\components\companies.scss
public\css\pages\welcome.css