/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.dusk.local
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.vagrant
ca.homestead.laravel-app.crt
ca.homestead.laravel-stagevinder.crt
Envoy.blade.php