* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: $mainBackgroundColor;
	font-size: $mainFontSize;
	overflow-x: hidden;
	color: $mainColor;
	font-family: $mainFontFamily;
}

img {
	vertical-align: middle;
	border-style: none;
}

a {
	text-decoration: none;
	outline: none;
}

ul {
	list-style-type: none;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: "";
	clear: both;
	height: 0;
}

.container {
	margin-top: 80px;
	padding: 30px 10px;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
}

.container__inner {
	padding: 1.8rem;
}

@media (min-width: 993px) {
	.container {
		margin-left: 270px;
	}
}
