//FONTS FAMILIES
$mainFontFamily: open sans, sans-serif;

//IMAGE SIZES

//FONT SIZES
$smallIconSize: 10px;
$navigationSmallSize: 12px;
$breadcrumbTextSize: 13px;
$authTextSize: 13px;
$navigationSize: 14px;
$navMoreSize: 15px;
$buttonSize: 15px;
$alertSize: 15px;
$mainFontSize: 16px;
$headerIconFontSize: 16px;
$breadcrumbTitleSize: 20px;
$authTitleSize: 24px;
$privacyTitleSize: 24px;
$privacySubTitleSize: 20px;
$authPopupTitleSize: 20px;

//FONT WEIGHTS
$lightWeight: 300;
$mainWeight: 400;
$strongWeight: 500;
$boldWeight: 600;

//LINE HEIGHTS

//LETTER SPACINGS

//TRANSITION TIMES

//BACKGROUND COLORS
$mainBackgroundColor: #f3f3f3;
$highlightBackgroundColor: #4680ff;
$pinkBadgeBackgroundColor: #fc6180;
$greenBadgeBackgroundColor: #93be52;
$userInfoBackgroundColor: #e0e0e0;

//BOX-SHADOW COLORS
$headerShadow: 0 0 11px rgba(0, 0, 0, 0.13);
$headerMoreShadow: 0 0 1px 2px rgba(0, 0, 0, 0.03),
	0 -2px 1px -2px rgba(0, 0, 0, 0.02), 0 0 0 -1px rgba(0, 0, 0, 0.03);
$breadcrumbShadow: 0 1px 11px 0 rgba(0, 0, 0, 0.12);
$breadcrumbIconShadow: 0 2px 12px -3px rgba(0, 0, 0, 0.5);
$usernameShadow: 1px 1px 4px #373a3c;
$authBoxShadow: 0 2px 18px -2px #000;
$notificationsShadow: 0 0 1px 2px rgba(0,0,0,.03), 0 -2px 1px -2px rgba(0,0,0,.02), 0 0 0 -1px rgba(0,0,0,.03);

//COLORS
$mainColor: #303548;
$whiteColor: #fff;
$navMoreColor: #666;
$navigationIcon: #ccc;
$inputBorderColor: #cccccc;
$breadcrumbTitleColor: #919aa3;
$navigationTitleColor: #8c8c8c;
$breadcrumbLinkColor: #4a6076;
$breadcrumbSlashColor: #868e96;
$inputBorderFocusColor: #80bdff;
$inputColor: #495057;
$breadcrumbCurrentColor: #7e7e7e;
$cardTitleColor: #505458;
$alertDefaultColor: #e0e0e0;
$alertWarningColor: #ffb64d;
$alertErrorColor: #fc6180;
$alertSuccessColor: #93be52;
$facebookColor: #3c5a99;
$radioColor: #999;

//BORDER RADIUS
$circleRadius: 50%;
$profilePictureRadius: 5px;
$inputRadius: 4px;
$buttonRadius: 2px;

//WIDTH

//Z-INDEX
$mediumIndex: 99;
$topIndex: 999;
