//FONTS FAMILIES
$mainFontFamily: open sans, sans-serif;

//IMAGE SIZES

//FONT SIZES
$smallIconSize: 10px;
$navigationSmallSize: 12px;
$navigationSize: 14px;
$navMoreSize: 15px;
$mainFontSize: 16px;
$headerIconFontSize: 16px;

//FONT WEIGHTS
$lightWeight: 300;
$mainWeight: 400;
$strongWeight: 500;
$boldWeight: 600;

//LINE HEIGHTS

//LETTER SPACINGS

//TRANSITION TIMES

//BACKGROUND COLORS
$mainBackgroundColor: #f3f3f3;
$highlightBackgroundColor: #4680ff;
$pinkBadgeBackgroundColor: #fc6180;
$greenBadgeBackgroundColor: #93be52;

//BOX-SHADOW COLORS
$headerShadow: 0 0 11px rgba(0, 0, 0, 0.13);
$headerMoreShadow: 0 0 1px 2px rgba(0, 0, 0, 0.03),
	0 -2px 1px -2px rgba(0, 0, 0, 0.02), 0 0 0 -1px rgba(0, 0, 0, 0.03);

//COLORS
$mainColor: #303548;
$whiteColor: #fff;
$navMoreColor: #666;
$navigationIcon: #ccc;
$navigationTitleColor: #8c8c8c;

//BORDER RADIUS
$circleRadius: 50%;
$profilePictureRadius: 5px;
$inputRadius: 4px;

//WIDTH

//Z-INDEX
$mediumIndex: 99;
$topIndex: 999;
