.buttons__container {
}

.button__center {
	display: flex;
	justify-content: center;
	margin-top: 15px;
}

.button__center--margin {
	margin-top: 0;
	margin-bottom: 20px;
}

.button {
	display: block;
	margin-right: 10px;
	background-color: $highlightBackgroundColor;
	border-color: $highlightBackgroundColor;
	color: $whiteColor;
	cursor: pointer;
	-webkit-transition: all ease-in 0.3s;
	transition: all ease-in 0.3s;
	border-radius: $buttonRadius;
	text-transform: capitalize;
	font-size: $buttonSize;
	padding: 10px 19px;
	margin-bottom: 5px;
	box-shadow: none;
	border: none;
	text-align: center;
}

.button--big {
	width: 120px;
}

.button--fullWidth {
	width: 100%;
	margin-bottom: 15px;
}

.button--transparent {
	background-color: transparent;
	color: $mainColor;
}

.button--margin {
	margin-right: 0;
	font-weight: $boldWeight;
	display: inline-block;
}

.button--green {
	background-color: $alertSuccessColor;
}

.button--green:hover {
	background-color: $alertErrorColor;
}

.button--right {
	margin: 0;
	padding: 8px 14px;
	line-height: 16px;
	font-size: 11px;
	float: right;
}

.button--hidden {
	display: none;
}

.button__icon {
	margin-right: 5px;
}

.button__social {
	background-color: $facebookColor;
	border-color: $facebookColor;
	border-radius: 2px;
	color: $whiteColor;
	cursor: pointer;
	text-transform: capitalize;
	font-size: 15px;
	padding: 10px 19px;
	font-weight: $mainWeight;
	text-align: center;
	display: inline-block;
}

.button__social__icon {
	padding: 5px 0;
	display: inline-block !important;
	border-radius: 3px 0 0 3px;
	margin: -7px 0 -7px -13px;
	margin-right: 5px;
}

@media (min-width: 769px) {
	.buttons__container {
		float: right;
		bottom: 38px;
		right: 35px;
		position: absolute;
	}
}
