.single__company__card{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: $whiteColor;
    position: relative;
    border-radius: $profilePictureRadius;
    -webkit-box-shadow: $breadcrumbShadow;
    box-shadow: $breadcrumbShadow;
    border: none;
    background: $whiteColor;
    padding: 0.5em;
    margin: 0em 0.5em 1em 0.5em;
    width: initial;
    min-height: 5em;
}

.company__flex__child{
    flex: 1;
    flex-basis: 100%;
    max-width: 100%;
}

.single__company__card__photo{
    width: 4em;
    height: auto;
}

.single__company__card__text{
    text-align: left;
    padding-left: 1em;
}

.single__company__card__text--name{
    font-weight: $boldWeight;
    color: $cardTitleColor;
}

.single__company__card__text--internships{
    font-weight: $lightWeight;
    color: $cardTitleColor;
    font-size: $companySmallSize;
}

@media (min-width: 768px) {

    .company__flex__child{
       flex-basis: 50%; 
       max-width: 50%;
    }
}

@media (min-width: 1024px) {

    .company__flex__child{
       flex: 1;
       flex-basis: 25%;
       max-width: 25%; 
    }

    .single__company__card{
        width: initial;
    }
}