.header__options__item--notifications:hover .notifications {
	opacity: 1;
	visibility: visible;
	-webkit-transform: translateY(0);
    transform: translateY(0);
}

.notifications {
	background: $whiteColor;
    -webkit-box-shadow: $notificationsShadow;
    box-shadow: $notificationsShadow;
    opacity: 0;
    position: absolute;
    right: 0;
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    visibility: hidden;
    width: 24rem;
    overflow-y: scroll;
    max-height: 250px;
    line-height: normal;
}

.notification {
	padding: 10px 20px;
    width: 100%;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
    align-items: flex-start;
    position: relative;
}

.notification--0:hover {
	background-color: #f1f1f1;
}

.notification--1:hover {
    background-color: $alertSuccessColor;
}

.notification--2:hover {
    background-color: $alertErrorColor;
}

.notification--1:hover,
.notification--2:hover,
.notification--1:hover .notification__time,
.notification--2:hover .notification__time {
    color: $whiteColor;
}

.notification--0:hover .notification__buttons {
    display: block;
}

.notification__title {
    display: inline-block;
    font-size: $navigationSize;
    font-weight: $boldWeight;
    margin-bottom: 0;
}

.notification__label {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 4px;
    font-size: 75%;
    padding: 4px 7px;
    margin-right: 5px;
    font-weight: $mainWeight;
    color: $whiteColor;
}

.notification__label--red {
    background-color: $alertErrorColor;
}

.notification__label--green {
    background-color: $alertSuccessColor;
}

.notification__image {
	width: 40px;
    margin-right: 10px;
    -ms-flex-item-align: start;
    align-self: flex-start;
}

.notification__body {
	line-height: normal;
}

.notification__user {
	font-size: $navMoreSize;
    font-weight: $boldWeight;
    margin-bottom: 5px;
    display: inline-block;
    float: left;
}

.notification__msg {
	font-size: $authTextSize;
	margin-bottom: 5px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	width: calc(24rem - 90px);
    margin-bottom: 20px;
}

.notification__time {
	font-size: $navigationSmallSize;
    color: #919aa3;
    display: inline-block;
    float: right;
}

.notification__buttons {
    display: none;
}

.notification__upToDate {
    font-size: $navigationSize;
    font-weight: $boldWeight;
    color: #919aa3;
    text-align: center;
    width: 100%;
    margin: 25px 0;
}