.preview__container {
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    -ms-flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
    margin-bottom: 30px;
    background-color: $whiteColor;
    padding: 30px;
    border-radius: 5px;
    -webkit-box-shadow: $breadcrumbShadow;
    box-shadow: $breadcrumbShadow;
    border: none;
}

.preview__container__title{
    display: block;
    width: 100%;
    padding-bottom: 1em;
    color: $mainColor;
}

.preview__flex__child{
    flex: 1;
    flex-basis: 100%; 
    max-width: 100%;
 }

.preview__inner {
    position: relative;
    border-radius: $profilePictureRadius;
    -webkit-box-shadow: $breadcrumbShadow;
    box-shadow: $breadcrumbShadow;
    border: none;
    background: $whiteColor;
    height: 250px;
    width: initial;
    margin: 0px 5px 30px 5px;
}

.preview__image {
    //position: absolute;
    object-fit: cover;
    object-position: 50% 50%;
    height: 100%;
}

.preview__form{
    position: absolute;
    left: 86%;
    top: -1px;
}

.preview__text {
    position: absolute;
    padding: 1em;
    bottom: 0%;
    color: $cardTitleColor;
    background-color: $whiteColor;
    overflow: hidden;
    text-overflow: ellipsis;
    width: -webkit-fill-available;
}

.preview__text--internship {
    font-size: $navigationSize;
    font-weight: $boldWeight;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.preview__text--position {
    font-size: $breadcrumbTextSize;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.preview__text--company{
    font-size: $companySmallSize;
    font-weight: $lightWeight;
    padding-top: 0.5em;
    display: inline-block;
    float: left;
}

.preview__text--distance {
    font-size: $companySmallSize;
    font-weight: $lightWeight;
    padding-top: 0.5em;
    display: inline-block;
    float: right;
}

.preview__button--add{
    display: block;
    width: 100%;
    margin-bottom: 1em;
}

@media (min-width: 768px) {

    .preview__flex__child{
       flex-basis: 50%; 
       max-width: 50%;
    }
}

@media (min-width: 1024px) {
	.preview__container {
		justify-content: initial;;
    }

    .preview__flex__child{
       flex: 1;
       flex-basis: 25%;
       max-width: 25%; 
    }

    .preview__inner{
        width: initial;
        margin: 0px 5px 30px 5px;
    }
}