.radios__container {
	margin-bottom: 2.75em;
	position: relative;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
}

.radio__container {
	display: inline-block;
	margin-right: 20px;
}

.radio__label {
	position: relative;
	padding-left: 1.5rem;
	text-align: left;
	color: $mainColor;
	display: block;
	line-height: 1.8;
	font-weight: $mainWeight;
	font-size: $buttonSize;
}

.radio {
	width: auto;
	opacity: 0.00000001;
	position: absolute;
	left: 0;
}

.radio__visual {
	position: absolute;
	top: -0.15rem;
	left: -0.25rem;
	cursor: pointer;
	display: block;
	font-size: 1rem;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	color: $radioColor;
}

.radio__visual:before,
.radio__visual:after {
	content: "";
	position: absolute;
	left: 0;
	top: 3px;
	margin: 0.25rem;
	width: 1rem;
	height: 1rem;
	-webkit-transition: -webkit-transform 0.28s ease;
	transition: -webkit-transform 0.28s ease;
	transition: transform 0.28s ease, -webkit-transform 0.28s ease;
	border-radius: 50%;
	border: 0.125rem solid $highlightBackgroundColor;
}

.radio__visual:after {
	-webkit-transform: scale(0);
	transform: scale(0);
	background-color: $highlightBackgroundColor;
	border-color: $highlightBackgroundColor;
}

.radio:checked ~ .radio__visual::after {
	-webkit-transform: scale(0.5);
	transform: scale(0.5);
}
