.filter__container {
    background-color: $accentColor;
    display: flex;
    display: flexbox;
    flex-direction: column;
    width: 100%;
    padding: 1em;
    margin-bottom: 1em;
    border-radius: $profilePictureRadius;
}

.filter__items {
    position: absolute;
    margin-top: 3em;
    background-color: $whiteColor;
    width: auto;
    left: auto;
    right: auto;
    top: auto;
    border: $whiteColor 0px solid;
    border-radius: $profilePictureRadius;
    background: $whiteColor;
    width: 20vw;
    z-index: $topIndex;
}

.filter__items--active {
    display: block;
}

.filter__items--disabled {
    display: none;
}

.filter__item--title {
    display: inline-block;
    padding: 1em;
    border: $whiteColor 0px solid;
    border-radius: $profilePictureRadius;
    background: $whiteColor;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 7%;
    background-position: right 0.7em top 50%, 0 0;
    z-index: 1;
}

.filter__item--title-active {
    background-image: url(../images/arrow-up.svg);
}

.filter__item--title-disabled {
    background-image: url(../images/arrow-down.svg);
}

.filter__item--disabled {
    display: none;
}

.filter__item--active {
    display: flex;
    display: -ms-flexbox;
}

.filter__item {
    display: flex;
    display: flexbox;
    flex-direction: row;
    flex-wrap: wrap;
    border-bottom: 1px solid rgba($mainColor, 0.5);
    width: 20vw;
    padding: 1em;
}

.filter__item:last-child {
    border-bottom: none;
}

.filter__item__checkbox {
    margin-right: 1em;
}

.filter__btn {
    padding: 1em;
    background-color: $mainColor;
    border: $mainColor;
    border-radius: $profilePictureRadius;
    box-shadow: $breadcrumbShadow;
    color: $whiteColor;
    cursor: pointer;
    margin-top: 1em;
    width: 100%;
}

@media only screen and (min-width: 598px) {
    .filter__container {
        flex-direction: row;
    }

    .filter__item--title {
        width: 20vw;
    }

    .filter__btn {
        margin-top: 0em;
        margin-left: 1em;
        width: 8vw;
    }
}
