.search__field__container {
    margin-bottom: 30px;
    background-color: $whiteColor;
    padding: 30px;
    border-radius: 5px;
    -webkit-box-shadow: $breadcrumbShadow;
    box-shadow: $breadcrumbShadow;
    border: none;
    flex-direction: column;
    display: flex;
}

.search__field {
    display: flex;
    display: -ms-flexbox;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    flex-direction: row;
    -ms-flex-direction: row;
    margin: 0 -15px;
    border-bottom: 1px solid $mainColor;
}

.search__field--input {
    margin: 0;
    width: 95%;
    color: $mainColor;
    background-color: $whiteColor;
    font-size: $navigationSize;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    padding: 6px 22px 6px 10px;
    outline: none;
    border: 1px solid transparent;
}

.search__field--btn {
    width: 5%;
    cursor: pointer;
    color: $navigationIcon;
    background-color: transparent;
    border: transparent;
}
