.search__field__container {
    margin-bottom: 30px;
    background-color: $whiteColor;
    padding: 30px;
    border-radius: 5px;
    -webkit-box-shadow: $breadcrumbShadow;
    box-shadow: $breadcrumbShadow;
    border: none;
    flex-direction: column;
    display: flex;
}

.search__field {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.search__field--input {
    display: block;
    margin: 0;
    width: 100%;
    color: $whiteColor;
    background-color: $mainColor;
    font-size: $navigationSize;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: $inputRadius;
    padding: 6px 22px 6px 10px;
    border: 1px solid $whiteColor;
    outline: none;
}

.search__field--btn {
    cursor: pointer;
    padding: 6px;
    position: absolute;
    right: 25px;
    top: calc(50% + 7px);
    transform: translateY(-50%);
    color: $navigationIcon;
    background-color: transparent;
    border: transparent;
}
