.filter__container {
    background-color: $accentColor;
    display: block;
    width: 100%;
    padding: 1em;
    margin-bottom: 1em;
    border-radius: $profilePictureRadius;
}

/*background-image: url(../images/arrow.svg);
    background-repeat: no-repeat;
    background-size: 7%;
    background-position: right 0.7em top 50%, 0 0;
*/

.filter__items {
    display: block;
    border: $whiteColor 0px solid;
    border-radius: $profilePictureRadius;
    background: $whiteColor;
    width: 20vw;
    z-index: 99;
}

.filter__item--title {
    display: inline-block;
    padding: 1em;
    border: $whiteColor 0px solid;
    border-radius: $profilePictureRadius;
    background: $whiteColor;
    width: 20vw;
    background-repeat: no-repeat;
    background-size: 7%;
    background-position: right 0.7em top 50%, 0 0;
}

.filter__item--title-active {
    background-image: url(../images/arrow-up.svg);
}

.filter__item--title-disabled {
    background-image: url(../images/arrow-down.svg);
}

.filter__item--disabled {
    display: none;
}

.filter__item--active {
    display: flex;
    display: -ms-flexbox;
}

.filter__item {
    border-bottom: 1px solid rgba($mainColor, 0.5);
    width: 20vw;
    padding: 1em;
}

.filter__item:last-child {
    border-bottom: none;
}

.filter__item--checkbox {
    margin-right: 1em;
}

.filter__btn {
    padding: 1em;
    background-color: $mainColor;
    border: $mainColor;
    border-radius: $profilePictureRadius;
    box-shadow: $breadcrumbShadow;
    color: $whiteColor;
    cursor: pointer;
}
