.tooltip {
    position: relative;
}

.tooltip:after {
    opacity: 0;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    background: #444;
    color: $whiteColor;
    content: attr(data-title);
    position: absolute;
    font-size: $navigationSmallSize;
    padding: 5px 9px;
    width: 220px;
    border-radius: $buttonRadius;
    left: 50%;
    top: calc(100% + 14px);
    transform: translateX(-50%);
    z-index: $topIndex;
    transition: all 0.3s ease-in;
}

.tooltip:before {
    opacity: 0;
    border: solid;
    border-color: #444 transparent;
    border-width: 0 4px 9px 4px;
    content: "";
    left: 50%;
    transform: translateX(-50%);
    top: calc(100% + 5px);
    position: absolute;
    transition: all 0.3s ease-in;
}

.tooltip:hover:after,
.tooltip:hover:before {
    opacity: 1;
}
