#preview__card {
	display: none;
}

.upload__container {
	position: relative;
}

.upload {
	opacity: 0;
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	width: 100%;
	transition: all 0.3s ease;
	z-index: $topIndex;
}

#upload__preview{
	background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-bottom: 1em;
}

.upload__visual {
	width: 100%;
	display: block;
	margin: 0 auto 25px;
	padding: 25px;
	color: #97a1a8;
	background: #f9fbfe;
	border: 2px dashed #c8cbce;
	text-align: center;
	cursor: pointer;
	-webkit-transition: border-color 0.3s ease;
	-moz-transition: border-color 0.3s ease;
	transition: border-color 0.3s ease;
}

.upload:hover ~ .upload__visual,
.upload__visual--active {
	border-color: $highlightBackgroundColor;
}

.upload__visual__icon {
	font-size: 48px;
	margin-top: -10px;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
	margin-bottom: 10px;
}

.upload__visual__text {
	font-size: 18px;
}

.upload__visual__subtext {
	margin: 15px 0;
	font-size: 12px;
	display: block;
}

.card__table__data {
	width: 50%;
}

.card__body__preview {
	height: 350px;
	background-position: center;
	background-size: auto 100%;
	background-repeat: no-repeat;
}

.card__body__preview--transparent {
	background-size: cover;
	background-image: url("../../images/transparent.png");
	background-repeat: repeat;
	background-size: auto;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}
