#preview__card {
	display: none;
}

.upload {
	display: none;
}

.upload__visual {
	width: 100%;
	display: block;
	margin: 0 auto 25px;
	padding: 25px;
	color: #97a1a8;
	background: #f9fbfe;
	border: 2px dashed #c8cbce;
	text-align: center;
	cursor: pointer;
	-webkit-transition: box-shadow 0.3s, border-color 0.3s;
	-moz-transition: box-shadow 0.3s, border-color 0.3s;
	transition: box-shadow 0.3s, border-color 0.3s;
}

.upload__visual__icon {
	font-size: 48px;
	margin-top: -10px;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
	margin-bottom: 10px;
}

.upload__visual__text {
	font-size: 18px;
}

.upload__visual__subtext {
	margin: 15px 0;
	font-size: 12px;
	display: block;
}

.card__table__data {
	width: 50%;
}

.card__body__preview {
	height: 350px;
	background-position: center;
	background-size: auto 100%;
	background-repeat: no-repeat;
}

.card__body__preview--transparent {
	background-size: cover;
	background-image: url("../../images/transparent.png");
	background-repeat: repeat;
	background-size: auto;
	padding: 1.25rem;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}
