.applications__container {
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    -ms-flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
    margin-bottom: 30px;
    background-color: $whiteColor;
    padding: 30px;
    border-radius: 5px;
    -webkit-box-shadow: $breadcrumbShadow;
    box-shadow: $breadcrumbShadow;
    border: none;
}

.application__single__container{
    position: relative;
    border-radius: $profilePictureRadius;
    -webkit-box-shadow: $breadcrumbShadow;
    box-shadow: $breadcrumbShadow;
    border: none;
    background: $whiteColor;
    width: 250px;
    height: 250px;
    margin: 0px 10px 30px -5px;
}

.application__student__profile{
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    background-color: (rgba(222,74,67,0.5));
    position: relative;
    z-index: 5;
}

.application__internship__photo{
    position: absolute;
    top: 0;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: 50% 50%;
    object-position: 50% 50%;
    height: 100%;
}

.student__image{
    width: 4em;
    height: 4em;
    margin-right: 0.5em;
}

.student__name{
    color: #fff;
}

.application__internship__preview{
    z-index: 5;
}

.application____internship__text{
    position: absolute;
    padding: 10%;
    bottom: 0%;
    color: $cardTitleColor;
    background-color: $whiteColor;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 250px;
}

.application____internship__text--title{
    font-size: $navigationSize;
    font-weight: $boldWeight;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.application____internship__text--description{
    font-size: $breadcrumbTextSize;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media (min-width: 1024px) {
	.applications__container {
		justify-content: initial;;
	}
}