@charset "UTF-8";
/*VARIABLES*/
/*DEFAULT CSS*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f3f3f3;
  font-size: 16px;
  overflow-x: hidden;
  color: #252421;
  font-family: open sans, sans-serif;
}

img {
  vertical-align: middle;
  border-style: none;
  width: 100%;
}

a {
  text-decoration: none;
  outline: none;
}

ul {
  list-style-type: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

/*COMPONENTS CSS*/
/*BASIC CSS FOR PAGES*/
.container {
  margin-top: 80px;
  padding: 30px 10px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}

.container__inner {
  padding: 10px;
}

@media (min-width: 993px) {
  .container {
    margin-left: 270px;
  }

  .container__inner {
    padding: 1.8rem;
  }
}
.header__container {
  position: fixed;
  z-index: 999;
  box-shadow: 0 0 11px rgba(0, 0, 0, 0.13);
  width: 100%;
  min-height: 80px;
}

.header__logo__inner {
  position: relative;
  align-items: center;
  float: left;
  height: 80px;
  text-align: center;
  text-transform: uppercase;
  padding: 10px;
  background-color: #DE4A43;
  justify-content: center;
  width: 100%;
}

.header__link {
  display: block;
  position: absolute;
  left: 20px;
  top: 50%;
  right: auto;
  border: 1px solid #fff;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  transform: translateY(-50%);
  color: #fff;
}

.header__menu__icon {
  font-weight: 400;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.header__logo {
  display: inline-block;
}

.header__logo__image {
  display: block;
  max-width: 3em;
  height: auto;
}

.header__search {
  display: flex;
  display: -ms-flexbox;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: transparent;
  border: 0px solid transparent;
  border-bottom: 2px solid #252421;
  margin: 30px 30px 5px 30px;
  position: relative;
  width: 300px;
}

.header__search--input {
  border: 0 solid transparent;
}

.header__search--btn {
  position: absolute;
  right: 1%;
  background: transparent;
  border: 0 solid transparent;
}

.header__options {
  top: 50%;
  display: block;
  position: absolute;
  right: 30px;
  transform: translateY(-50%);
  color: #fff;
}

.header__options__icon {
  font-weight: 400;
  font-size: 18px !important;
}

.header__options__container {
  padding: 0 15px;
  width: 100%;
  background-color: #fff;
  display: none;
}

.header__options__items--left {
  float: left;
  display: none;
}

.header__options__items {
  float: right;
}

.header__options__item {
  padding: 0 5px;
  float: left;
  line-height: 5;
  position: relative;
  z-index: 99;
}

.header__options__link {
  padding: 0 0.6rem;
  color: #252421;
}

.header__options__icon {
  font-weight: 400;
  font-size: 16px;
}

.header__options__badge {
  border-radius: 50%;
  right: 15px;
  position: absolute;
  top: 20px;
  padding: 4px;
  display: inline-block;
}

.header__options__badge--pink {
  background-color: #fc6180;
}

.header__options__badge--green {
  background-color: #93be52;
}

.header__options__profilePic {
  margin-right: 10px;
  width: 40px;
  border-radius: 5px;
}

.header__options__name {
  font-size: 16px;
  color: #252421;
  display: inline-block;
}

.header__options__more {
  font-size: 10px;
  margin-left: 10px;
  cursor: pointer;
}

.options__more__items {
  box-shadow: 0 0 1px 2px rgba(0, 0, 0, 0.03), 0 -2px 1px -2px rgba(0, 0, 0, 0.02), 0 0 0 -1px rgba(0, 0, 0, 0.03);
  position: absolute;
  background-color: #fff;
  width: auto;
  left: auto;
  right: 0;
  transform: translateY(20px);
  display: none;
  transition: all 0.3s ease-in-out;
  width: 14em;
  z-index: 999;
}

.options__more__items--active {
  transform: translateY(0px);
}

.options__more__item {
  padding: 0.7em 20px;
  line-height: 0;
}

.options__more__link {
  padding-left: 0;
  color: #666;
  padding: 0 0.6rem;
  font-size: 15px;
}

.options__more__icon {
  font-size: 15px;
  margin-left: 0;
  margin-right: 5px;
  font-weight: 400;
}

@media (min-width: 994px) {
  .header__logo__inner {
    display: flex;
    width: 270px;
    justify-content: left;
    padding-left: 1em;
  }

  .header__link {
    right: 22px;
    left: auto;
  }

  .header__options__items--desktop {
    display: inline-block;
  }

  .header__options--mobile {
    display: none;
  }

  .header__options__container {
    display: block;
  }
}
.navigation__container {
  margin-top: 80px;
  background: #252421;
  min-height: calc(100vh - 80px);
  position: fixed;
  width: 270px;
  z-index: 999;
  margin-left: -270px;
}

.navigation__scroll {
  min-height: calc(100vh - 80px);
}

.navigation__inner {
  position: relative;
  top: 10px;
  left: 0px;
  width: 100%;
}

.navigation__header {
  align-items: center;
  display: flex;
  padding: 30px 20px 15px;
}

.navigation__header__image {
  border-radius: 5px;
  width: 40px;
}

.navigation__header__userInfo {
  display: inline-block;
  margin: 0 15px;
}

.navigation__header__name {
  font-size: 14px;
  text-transform: capitalize;
  margin-bottom: 5px;
  font-weight: 600;
  color: #fff;
}

.navigation__header__title {
  font-size: 12px;
  text-transform: capitalize;
  margin-bottom: 5px;
  color: #fff;
}

.navigation__header__icon {
  font-size: 16px !important;
  margin-left: 10px;
}

.navigation__search {
  padding: 20px 20px 5px;
  position: relative;
}

.navigation__search__input {
  display: block;
  margin: 0;
  width: 100%;
  color: #fff;
  background-color: #252421;
  font-size: 14px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-shadow: none;
  border-radius: 4px;
  padding: 6px 22px 6px 10px;
  border: 1px solid #fff;
  outline: none;
}

.navigation__search__input::-webkit-input-placeholder {
  color: #fff;
}

.navigation__search__input::-moz-placeholder {
  color: #fff;
}

.navigation__search__input:-ms-input-placeholder {
  color: #fff;
}

.navigation__search__input::-ms-input-placeholder {
  color: #fff;
}

.navigation__search__input::placeholder {
  color: #fff;
}

.navigation__search__icon {
  cursor: pointer;
  padding: 6px;
  position: absolute;
  right: 25px;
  top: calc(50% + 7px);
  transform: translateY(-50%);
  color: #ccc;
  background-color: transparent;
  border: transparent;
}

.navigation__title {
  color: #8c8c8c;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 1px;
  padding: 20px 20px 10px;
  text-transform: capitalize;
}

.navigation__link {
  color: #fff;
  text-align: left;
  padding: 10px 20px;
  font-weight: 600;
  display: block;
  font-size: 14px;
  text-decoration: none;
  position: relative;
  transition: all 0.3s ease-in-out;
}

.navigation__link:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.navigation__link--current:before {
  border-left-style: solid;
  border-left-width: 5px;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  border-left-color: #FECF5B;
}

.navigation__link:after {
  font-family: "Font Awesome 5 Free";
  content: "\F105";
  color: #fff;
  float: right;
  font-style: normal;
  margin-left: 3px;
  font-size: 16px;
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
}

.navigation__link__icon {
  font-size: 15px;
  padding: 4px;
  margin-right: 10px;
  width: 30px;
  display: inline-block;
  height: 30px;
  text-align: center;
  position: relative;
  background-color: rgba(243, 243, 243, 0.1);
  border-radius: 4px;
}

.navigation__link__icon--center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.navigation__link__title {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

@media (min-width: 993px) {
  .navigation__container {
    margin-left: 0;
  }
}
.breadcrumb__container {
  margin-bottom: 30px;
  background-color: #fff;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0 1px 11px 0 rgba(0, 0, 0, 0.12);
  border: none;
  flex-direction: column;
  display: flex;
}

.breadcrumb__inner {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}

.breadcrumb__info {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding: 0 15px;
  text-align: center;
}

.breadcrumb__info__icon {
  margin-bottom: 10px;
  display: inline-flex !important;
  width: 50px;
  height: 50px;
  border-radius: 4px;
  justify-content: center;
  vertical-align: middle;
  font-size: 25px !important;
  color: #fff;
  box-shadow: 0 2px 12px -3px rgba(0, 0, 0, 0.5);
  align-items: center;
  background-color: #DE4A43;
}

.breadcrumb__info__title {
  display: block;
  margin-bottom: 0;
  font-weight: 600;
  color: #252421;
  font-size: 20px;
  text-transform: capitalize;
}

.breadcrumb__info__text {
  font-size: 13px;
  color: #919aa3;
  display: inline-block;
  margin-top: 10px;
}

.breadcrumb__info__links {
  width: 100%;
  text-align: center;
  margin-top: 10px;
  display: block;
}

.breadcrumb__info__linkContainer {
  display: inline-block;
}

.breadcrumb__info__linkContainer--slash:before {
  display: inline-block;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  color: #868e96;
  content: "/";
}

.breadcrumb__info__link {
  font-size: 14px;
  color: #4a6076;
}

.breadcrumb__info__link--current {
  color: #7e7e7e;
  cursor: default;
}

@media (min-width: 992px) {
  .breadcrumb__info {
    display: inline-flex;
    text-align: left;
  }

  .breadcrumb__info__icon {
    margin-right: 20px;
    margin-bottom: 0;
  }

  .breadcrumb__info__mobile--inline {
    display: inline-block;
  }

  .breadcrumb__info--big {
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }

  .breadcrumb__info--small {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
    float: right;
  }
}
.alert {
  background-color: #fff;
  color: #e0e0e0;
  font-size: 15px;
  padding: 0.75rem 1.25rem;
  border: 1px solid #e0e0e0;
  border-radius: 0.25rem;
  position: fixed;
  top: 120px;
  right: 0;
  width: 480px;
  border-left-width: 48px;
  border-right-width: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  z-index: 998;
  transition: right 0.95s ease-out;
}

.alert:before {
  font-family: "Font Awesome 5 Free";
  color: #fff;
  font-size: 16px;
  position: absolute;
  left: -30px;
  top: 50%;
  font-weight: 900;
  transform: translateY(-50%);
}

.alert--show {
  -webkit-animation: alert 0.95s ease-in forwards;
          animation: alert 0.95s ease-in forwards;
}

.alert--hide {
  -webkit-animation: alertReverse 0.95s ease-in forwards;
          animation: alertReverse 0.95s ease-in forwards;
}

.alert--default:before,
.alert--info:before {
  content: "\F05A";
}

.alert--warning {
  border-color: #ffb64d;
  color: #ffb64d;
}

.alert--error {
  border-color: #fc6180;
  color: #fc6180;
}

.alert--warning:before,
.alert--error:before {
  content: "\F06A";
}

.alert--success {
  border-color: #93be52;
  color: #93be52;
}

.alert--success:before {
  content: "\F00C";
}

.alert--info {
  border-color: #252421;
  color: #252421;
}

.alert__close {
  background: transparent;
  border: 0;
  -webkit-appearance: none;
  font-size: 16px;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: 0.3;
  position: absolute;
  right: 1.25rem;
  top: 1rem;
  outline: none;
  cursor: pointer;
}

.alert__text {
  line-height: 21px;
  margin-bottom: 0;
  font-size: 14px;
}

.alert__text--bold {
  text-transform: capitalize;
}

.alert__container {
  margin-top: 10px;
  margin-left: 1.25rem;
}

.alert__item {
  list-style-type: disc;
  text-indent: -4px;
}

@-webkit-keyframes alertReverse {
  0% {
    right: 0;
  }
  100% {
    right: -480px;
  }
}

@keyframes alertReverse {
  0% {
    right: 0;
  }
  100% {
    right: -480px;
  }
}
@-webkit-keyframes alert {
  0% {
    right: -480px;
  }
  100% {
    right: 0;
  }
}
@keyframes alert {
  0% {
    right: -480px;
  }
  100% {
    right: 0;
  }
}
.tooltip {
  position: relative;
}

.tooltip:after {
  opacity: 0;
  display: flex;
  justify-content: center;
  background: #444;
  color: #fff;
  content: attr(data-title);
  position: absolute;
  font-size: 12px;
  padding: 5px 9px;
  width: 220px;
  border-radius: 2px;
  left: 50%;
  top: calc(100% + 14px);
  transform: translateX(-50%);
  z-index: 999;
  transition: all 0.3s ease-in;
}

.tooltip:before {
  opacity: 0;
  border: solid;
  border-color: #444 transparent;
  border-width: 0 4px 9px 4px;
  content: "";
  left: 50%;
  transform: translateX(-50%);
  top: calc(100% + 5px);
  position: absolute;
  transition: all 0.3s ease-in;
}

.tooltip:hover:after,
.tooltip:hover:before {
  opacity: 1;
}

.header__options__item--notifications:hover .notifications {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.notifications {
  background: #fff;
  box-shadow: 0 0 1px 2px rgba(0, 0, 0, 0.03), 0 -2px 1px -2px rgba(0, 0, 0, 0.02), 0 0 0 -1px rgba(0, 0, 0, 0.03);
  opacity: 0;
  position: absolute;
  right: 0;
  transform: translateY(30px);
  transition: all 0.3s ease-in-out;
  visibility: hidden;
  width: 24rem;
  overflow-y: scroll;
  max-height: 250px;
  line-height: normal;
}

.notification {
  padding: 10px 20px;
  width: 100%;
  transition: all 0.3s ease-in-out;
  display: flex;
  align-items: flex-start;
  position: relative;
}

.notification--0:hover {
  background-color: #f1f1f1;
}

.notification--1:hover {
  background-color: #93be52;
}

.notification--2:hover {
  background-color: #fc6180;
}

.notification--1:hover,
.notification--2:hover,
.notification--1:hover .notification__time,
.notification--2:hover .notification__time {
  color: #fff;
}

.notification--0:hover .notification__buttons {
  display: block;
}

.notification__title {
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 0;
}

.notification__label {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 4px;
  font-size: 75%;
  padding: 4px 7px;
  margin-right: 5px;
  font-weight: 400;
  color: #fff;
}

.notification__label--red {
  background-color: #fc6180;
}

.notification__label--green {
  background-color: #93be52;
}

.notification__image {
  width: 40px;
  margin-right: 10px;
  align-self: flex-start;
}

.notification__body {
  line-height: normal;
}

.notification__user {
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 5px;
  display: inline-block;
  float: left;
}

.notification__msg {
  font-size: 13px;
  margin-bottom: 5px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: calc(24rem - 90px);
  margin-bottom: 20px;
}

.notification__time {
  font-size: 12px;
  color: #919aa3;
  display: inline-block;
  float: right;
}

.notification__buttons {
  display: none;
}

.notification__upToDate {
  font-size: 14px;
  font-weight: 600;
  color: #919aa3;
  text-align: center;
  width: 100%;
  margin: 25px 0;
}

.filter__container {
  background-color: #FECF5B;
  display: flex;
  display: flexbox;
  flex-direction: column;
  width: 100%;
  padding: 1em;
  margin-bottom: 1em;
  border-radius: 5px;
}

.filter__items {
  position: absolute;
  margin-top: 3em;
  background-color: #fff;
  width: auto;
  left: auto;
  right: auto;
  top: auto;
  border: #fff 0px solid;
  border-radius: 5px;
  background: #fff;
  width: auto;
  z-index: 999;
}

.filter__items--active {
  display: block;
}

.filter__items--disabled {
  display: none;
}

.filter__item--title {
  display: inline-block;
  padding: 1em;
  border: #fff 0px solid;
  border-radius: 5px;
  background: #fff;
  width: 100%;
  background-repeat: no-repeat;
  background-size: 7%;
  background-position: right 0.7em top 50%, 0 0;
  z-index: 1;
}

.filter__item--title-active {
  background-image: url(../images/arrow-up.svg);
}

.filter__item--title-disabled {
  background-image: url(../images/arrow-down.svg);
}

.filter__item--disabled {
  display: none;
}

.filter__item--active {
  display: flex;
  display: -ms-flexbox;
}

.filter__item {
  display: flex;
  display: flexbox;
  flex-direction: row;
  flex-wrap: wrap;
  border-bottom: 1px solid rgba(37, 36, 33, 0.5);
  width: 100%;
  padding: 1em;
}

.filter__item:last-child {
  border-bottom: none;
}

.filter__item__checkbox {
  margin-right: 1em;
}

.filter__btn {
  padding: 1em;
  background-color: #252421;
  border: #252421;
  border-radius: 5px;
  box-shadow: 0 1px 11px 0 rgba(0, 0, 0, 0.12);
  color: #fff;
  cursor: pointer;
  margin-top: 1em;
  width: 100%;
}

@media only screen and (min-width: 598px) {
  .filter__container {
    flex-direction: row;
  }

  .filter__items {
    width: 20vw;
  }

  .filter__item {
    width: 20vw;
  }

  .filter__item--title {
    width: 20vw;
  }

  .filter__btn {
    margin-top: 0em;
    margin-left: 1em;
    width: 8vw;
  }
}