/*VARIABLES*/
/*DEFAULT CSS*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f3f3f3;
  font-size: 16px;
  overflow-x: hidden;
  color: #252421;
  font-family: open sans, sans-serif;
}

img {
  vertical-align: middle;
  border-style: none;
  width: 100%;
}

a {
  text-decoration: none;
  outline: none;
}

ul {
  list-style-type: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

/* EMAIL STANDERD ELEMENTS */
.email__container {
  font-weight: normal;
  border-collapse: collapse;
  border: 0;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  color: #555559;
  background-color: white;
  font-size: 16px;
  line-height: 26px;
  width: 600px;
  padding: 20px;
}

.email__row {
  border-collapse: collapse;
  border: 0;
  margin: 0;
  padding: 0;
  -webkit-text-size-adjust: none;
  color: #555559;
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 26px;
}

.email__row--line {
  background-color: #fff;
  border-bottom: 4px solid #FECF5B;
}

/*COMPONENTS CSS*/
.button__center {
  display: flex;
  justify-content: center;
  margin-top: 15px;
  margin-bottom: 25px;
}

.button__center--margin {
  margin-top: 0;
  margin-bottom: 20px;
}

.button {
  display: inline-block;
  margin-right: 10px;
  background-color: #FECF5B;
  border-color: #FECF5B;
  color: #252421;
  cursor: pointer;
  transition: all ease-in 0.3s;
  border-radius: 2px;
  text-transform: capitalize;
  font-size: 15px;
  padding: 10px 19px;
  margin-bottom: 5px;
  box-shadow: none;
  border: none;
  text-align: center;
}

.button--follow {
  background-color: #FECF5B;
  color: #252421;
}

.button--message {
  background-color: #fff;
  color: #252421;
}

.button--big {
  width: 120px;
}

.button--fullWidth {
  width: 100%;
  margin-bottom: 15px;
}

.button--transparent {
  background-color: transparent;
  color: #252421;
}

.button--margin {
  margin-right: 0;
  font-weight: 600;
  display: inline-block;
}

.button--green {
  background-color: #93be52;
}

.button--green:hover {
  background-color: #fc6180;
}

.button--accept {
  background-color: #93be52;
}

.button--decline {
  background-color: #fc6180;
}

.button--right {
  margin: 0;
  padding: 8px 14px;
  line-height: 16px;
  font-size: 11px;
  float: right;
}

.button--hidden {
  display: none;
}

.button__icon {
  margin-right: 5px;
}

.button__social {
  background-color: #3c5a99;
  border-color: #3c5a99;
  border-radius: 2px;
  color: #fff;
  cursor: pointer;
  text-transform: capitalize;
  font-size: 15px;
  padding: 10px 19px;
  font-weight: 400;
  text-align: center;
  display: inline-block;
}

.button__social__icon {
  padding: 5px 0;
  display: inline-block !important;
  border-radius: 3px 0 0 3px;
  margin: -7px 0 -7px -13px;
  margin-right: 5px;
}

@media (min-width: 769px) {
  .buttons__container {
    float: right;
    bottom: 38px;
    right: 35px;
    position: absolute;
  }
}
.email__logo {
  line-height: 1;
  width: 75px;
}

.email__name {
  font-size: 25px;
  display: inline-block;
  margin-left: 10px;
  color: #DE4A43;
}

.email__title {
  font-size: 28px;
  font-weight: bold;
  text-align: center;
  line-height: 34px;
}

.email__header {
  padding: 20px;
  text-align: center;
}

.email__subtitle {
  padding: 5px 0;
  font-size: 18px;
  line-height: 29px;
  font-weight: bold;
  font-style: italic;
}

.email__image {
  width: 210px;
}

.email__details {
  margin-top: 20px;
  text-align: center;
}

.email__details__hour {
  margin-bottom: 25px;
}

.email__details__title,
.email__footer__title {
  font-weight: bold;
}

.email__body {
  margin-top: 15px;
  border-top: solid 1px #eeeff0;
  padding: 15px 0;
}

.email__footer {
  font-size: 12px;
  padding: 20px 0;
  text-align: center;
}

.email__footer__link {
  color: #DE4A43;
}