/*VARIABLES*/
/*COMPONENTS CSS*/
.preview__container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
  margin-bottom: 30px;
  background-color: #fff;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0 1px 11px 0 rgba(0, 0, 0, 0.12);
  border: none;
}

.preview__container__items {
  box-shadow: none;
  padding: 0;
}

.preview__container__title {
  display: block;
  width: 100%;
  padding-bottom: 1em;
  color: #252421;
}

.preview__flex__child {
  flex: 1;
  flex-basis: 100%;
  max-width: 100%;
}

.preview__inner {
  position: relative;
  border-radius: 5px;
  box-shadow: 0 1px 11px 0 rgba(0, 0, 0, 0.12);
  border: none;
  background: #fff;
  height: 250px;
  width: initial;
  margin: 0px 5px 30px 5px;
  cursor: pointer;
}

.preview__image {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
  height: 100%;
}

.preview__form {
  position: absolute;
  left: 86%;
  top: -1px;
}

.preview__text {
  position: absolute;
  padding: 1em;
  bottom: 0%;
  color: #505458;
  background-color: #fff;
  overflow: hidden;
  text-overflow: ellipsis;
  width: -webkit-fill-available;
  width: 100%;
}

.preview__text--internship {
  font-size: 14px;
  font-weight: 600;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.preview__text--position {
  font-size: 13px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.preview__text--company {
  font-size: 13px;
  font-weight: 300;
  padding-top: 0.5em;
  display: inline-block;
  float: left;
}

.preview__text--distance {
  font-size: 13px;
  font-weight: 300;
  padding-top: 0.5em;
  display: inline-block;
  float: right;
}

.preview__button--add {
  display: block;
  width: 100%;
  margin-bottom: 1em;
  text-align: center;
}

.preview__container--link {
  flex: 1 1 250px;
}

.preview__container--empty-state {
  text-align: left;
  width: 100%;
}

@media (min-width: 768px) {
  .preview__flex__child {
    flex-basis: 50%;
    max-width: 50%;
  }
}
@media (min-width: 1024px) {
  .preview__container {
    justify-content: initial;
  }

  .preview__flex__child {
    flex: 1;
    flex-basis: 25%;
    max-width: 25%;
  }

  .preview__inner {
    width: initial;
    margin: 0px 5px 30px 5px;
  }
}
.button__center {
  display: flex;
  justify-content: center;
  margin-top: 15px;
  margin-bottom: 25px;
}

.button__center--margin {
  margin-top: 0;
  margin-bottom: 20px;
}

.button {
  display: inline-block;
  margin-right: 10px;
  background-color: #FECF5B;
  border-color: #FECF5B;
  color: #252421;
  cursor: pointer;
  transition: all ease-in 0.3s;
  border-radius: 2px;
  text-transform: capitalize;
  font-size: 15px;
  padding: 10px 19px;
  margin-bottom: 5px;
  box-shadow: none;
  border: none;
  text-align: center;
}

.button--follow {
  background-color: #FECF5B;
  color: #252421;
}

.button--message {
  background-color: #fff;
  color: #252421;
}

.button--big {
  width: 120px;
}

.button--overImage {
  box-shadow: 0 1px 11px 0 rgba(0, 0, 0, 0.3);
}

.button--fullWidth {
  width: 100%;
  margin-bottom: 15px;
}

.button--transparent {
  background-color: transparent;
  color: #252421;
}

.button--margin {
  margin-right: 0;
  font-weight: 600;
  display: inline-block;
}

.button--green {
  background-color: #93be52;
}

.button--green:hover {
  background-color: #fc6180;
}

.button--accept {
  background-color: #93be52;
}

.button--decline {
  background-color: #fc6180;
}

.button--right {
  margin: 0;
  padding: 8px 14px;
  line-height: 16px;
  font-size: 11px;
  float: right;
}

.button--hidden {
  display: none;
}

.button__icon {
  margin-right: 5px;
}

.button__social {
  background-color: #3c5a99;
  border-color: #3c5a99;
  border-radius: 2px;
  color: #fff;
  cursor: pointer;
  text-transform: capitalize;
  font-size: 15px;
  padding: 10px 19px;
  font-weight: 400;
  text-align: center;
  display: inline-block;
}

.button__social__icon {
  padding: 5px 0;
  display: inline-block !important;
  border-radius: 3px 0 0 3px;
  margin: -7px 0 -7px -13px;
  margin-right: 5px;
}

@media (min-width: 769px) {
  .buttons__container {
    float: right;
    bottom: 38px;
    right: 35px;
    position: absolute;
  }
}
.applications__container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
  margin-bottom: 30px;
  background-color: #fff;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0 1px 11px 0 rgba(0, 0, 0, 0.12);
  border: none;
}

.preview__flex__child {
  flex: 1;
  flex-basis: 100%;
  max-width: 100%;
}

.application__single__container {
  position: relative;
  border-radius: 5px;
  box-shadow: 0 1px 11px 0 rgba(0, 0, 0, 0.12);
  border: none;
  background: #fff;
  height: 250px;
  width: initial;
  margin: 0px 5px 30px 5px;
}

.application__student__profile {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  background-color: rgba(222, 74, 67, 0.5);
  position: relative;
  z-index: 5;
}

.application____internship__status--waiting {
  background-color: rgba(254, 207, 91, 0.5);
}

.application____internship__status--denied {
  background-color: rgba(222, 74, 67, 0.5);
}

.application____internship__status--accepted {
  background-color: rgba(147, 190, 82, 0.5);
}

.application__internship__photo {
  position: absolute;
  top: 0;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: 50% 50%;
  object-position: 50% 50%;
  height: 100%;
}

.student__image {
  width: 4em;
  height: 4em;
  margin-right: 0.5em;
}

.student__text {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.student__name {
  color: #fff;
  font-weight: 600;
}

.student__status {
  color: #fff;
  width: 100%;
  display: block;
  font-style: italic;
}

.application__internship__preview {
  z-index: 5;
}

.application____internship__text {
  position: absolute;
  padding: 1em;
  bottom: 0%;
  color: #505458;
  background-color: #fff;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  width: -webkit-fill-available;
}

.application____internship__text--title {
  font-size: 14px;
  font-weight: 600;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.application____internship__text--description {
  font-size: 13px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.application__internship__notification__buttons {
  display: none;
  z-index: 5;
  position: relative;
  text-align: center;
  margin-top: 2em;
}

.application__single__container:hover .application__internship__notification__buttons {
  display: block;
}

.application__single__container:hover .application__internship__photo {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

@media (min-width: 768px) {
  .preview__flex__child {
    flex-basis: 50%;
    max-width: 50%;
  }
}
@media (min-width: 1024px) {
  .applications__container {
    justify-content: initial;
  }

  .preview__flex__child {
    flex: 1;
    flex-basis: 25%;
    max-width: 25%;
  }

  .application__single__container {
    width: initial;
    margin: 0px 5px 30px 5px;
  }
}
.info__container {
  display: grid;
  display: -ms-grid;
  grid-template-columns: auto;
  width: 100%;
  margin-bottom: 30px;
  background-color: #fff;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0 1px 11px 0 rgba(0, 0, 0, 0.12);
  border: none;
}

.info--image {
  margin-left: -30px;
}

.info--title {
  font-size: 1em;
  padding-bottom: 1em;
}

.info--highlight {
  color: #DE4A43;
}

@media only screen and (min-width: 350px) {
  .info--title {
    font-size: 1.5em;
  }
}
@media only screen and (min-width: 668px) {
  .info__container {
    display: grid;
    display: -ms-grid;
    grid-template-columns: 300px auto;
    grid-template-rows: repeat(2, auto);
    width: 100%;
    margin-bottom: 30px;
    background-color: #fff;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 1px 11px 0 rgba(0, 0, 0, 0.12);
    border: none;
  }

  .info--image {
    grid-column: 1/2;
    -ms-grid-column: 1/2;
    grid-row: 1/3;
    -ms-grid-row: 1/3;
    margin-left: -30px;
  }

  .info--title {
    padding: 30px;
    grid-column: 2/3;
    -ms-grid-column: 2/3;
    grid-row: 1/2;
    -ms-grid-row: 1/2;
    padding-bottom: 0em;
  }

  .info--text {
    padding: 30px;
    grid-column: 2/3;
    grid-column: 2/3;
    grid-row: 2/3;
    grid-row: 2/3;
  }
}
@media only screen and (min-width: 868px) {
  .info--title {
    font-size: 2em;
  }
}
.popup__unauth--container {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  /* Black background with opacity */
  z-index: 999;
  /* Specify a stack order in case you're using a different order for other elements */
}

.popup__unauth--item {
  width: 550px;
  height: 350px;
  margin: auto;
  margin-top: 30vh;
  cursor: pointer;
  /* Add a pointer on hover */
  margin-bottom: 30px;
  background-color: #fff;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0 1px 11px 0 rgba(0, 0, 0, 0.12);
  border: none;
  text-align: center;
}

.popup__unauth--title {
  padding-bottom: 30px;
}

.popup__unauth--text {
  padding-bottom: 30px;
}

.popup__unauth--cta {
  margin-top: 30px;
  color: #DE4A43;
  text-transform: capitalize;
  text-decoration: underline;
}

.popup__unauth--link {
  display: block;
  padding-top: 60px;
  color: #252421;
  text-decoration: underline;
}

/*KEYFRAMES*/