/*VARIABLES*/
/*COMPONENTS CSS*/
.button__center {
  display: flex;
  justify-content: center;
  margin-top: 15px;
  margin-bottom: 25px;
}

.button__center--margin {
  margin-top: 0;
  margin-bottom: 20px;
}

.button {
  display: inline-block;
  margin-right: 10px;
  background-color: #FECF5B;
  border-color: #FECF5B;
  color: #252421;
  cursor: pointer;
  transition: all ease-in 0.3s;
  border-radius: 2px;
  text-transform: capitalize;
  font-size: 15px;
  padding: 10px 19px;
  margin-bottom: 5px;
  box-shadow: none;
  border: none;
  text-align: center;
}

.button--follow {
  background-color: #FECF5B;
  color: #252421;
}

.button--message {
  background-color: #fff;
  color: #252421;
}

.button--big {
  width: 120px;
}

.button--overImage {
  box-shadow: 0 1px 11px 0 rgba(0, 0, 0, 0.3);
}

.button--fullWidth {
  width: 100%;
  margin-bottom: 15px;
}

.button--transparent {
  background-color: transparent;
  color: #252421;
}

.button--margin {
  margin-right: 0;
  font-weight: 600;
  display: inline-block;
}

.button--green {
  background-color: #93be52;
}

.button--green:hover {
  background-color: #fc6180;
}

.button--accept {
  background-color: #93be52;
}

.button--decline {
  background-color: #fc6180;
}

.button--right {
  margin: 0;
  padding: 8px 14px;
  line-height: 16px;
  font-size: 11px;
  float: right;
}

.button--hidden {
  display: none;
}

.button__icon {
  margin-right: 5px;
}

.button__social {
  background-color: #3c5a99;
  border-color: #3c5a99;
  border-radius: 2px;
  color: #fff;
  cursor: pointer;
  text-transform: capitalize;
  font-size: 15px;
  padding: 10px 19px;
  font-weight: 400;
  text-align: center;
  display: inline-block;
}

.button__social__icon {
  padding: 5px 0;
  display: inline-block !important;
  border-radius: 3px 0 0 3px;
  margin: -7px 0 -7px -13px;
  margin-right: 5px;
}

@media (min-width: 769px) {
  .buttons__container {
    float: right;
    bottom: 38px;
    right: 35px;
    position: absolute;
  }
}
.card__container {
  position: relative;
  width: 100%;
  min-height: 1px;
  margin-bottom: 30px;
}

.card__container--menu {
  margin-bottom: 20px;
  background-color: #fff;
}

.card__inner {
  border-radius: 5px;
  box-shadow: 0 1px 11px 0 rgba(0, 0, 0, 0.12);
  border: none;
  margin-bottom: 30px;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
}

.card__header {
  border-bottom: none;
  padding: 25px 20px;
  border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
}

.card__title {
  margin-bottom: 0;
  color: #505458;
  font-size: 14px;
  font-weight: 600;
  display: inline-block;
  margin-right: 10px;
  line-height: 1.4;
}

.card__body {
  padding: 1.25rem;
  padding-top: 0;
  position: relative;
  overflow: hidden;
}

.card__body--transparent {
  background-image: url("../../images/transparent.png");
  padding: 1.25rem;
  margin: 1.25rem;
}

.card__text {
  line-height: 25px;
  font-size: 13px;
  margin-bottom: 1rem;
}

.card__info {
  display: inline-block;
  width: 100%;
  overflow-x: auto;
}

.card__table {
  width: 100%;
  border-collapse: collapse;
  max-width: 100%;
}

.card__table__row {
  padding-bottom: 20px;
}

.card__table__data {
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #e9ecef;
  white-space: nowrap;
  text-align: left;
  font-size: 14px;
  width: 60%;
  max-width: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.card__table__data--big {
  width: 40%;
}

.card__menu__items {
  position: relative;
  border-bottom: 1px solid #ddd;
  display: flex;
  flex-wrap: wrap;
}

.card__menu__item {
  width: 100%;
  text-align: center;
  margin-bottom: -1px;
}

.card__menu__link {
  font-size: 14px;
  color: #252421;
  padding: 20px 0;
  display: block;
  transition: all 0.3s ease-in;
}

.card__menu__link--current {
  border-bottom: 4px solid #DE4A43;
}

.card__menu__link:hover {
  color: #DE4A43;
}

@media (min-width: 573px) {
  .card__menu__item {
    width: calc(100% / 4);
  }
}
@media (min-width: 768px) {
  .card__menu__link {
    font-size: 16px;
  }
}
@media (min-width: 1200px) {
  .card__info {
    flex: 0 0 50%;
    max-width: 50%;
    float: left;
    padding: 0 15px;
  }

  .card__body--padding {
    margin: 0 -15px;
  }
}
.input__container {
  margin-bottom: 1.25em;
  position: relative;
  display: flex;
  width: 100%;
}

.input__addon {
  background-color: #252421;
  color: #FECF5B;
  padding: 0.5rem 0.75rem;
  margin-bottom: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.25;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
  width: 45px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.input {
  position: relative;
  flex: 1 1 auto;
  width: 1%;
  margin-bottom: 0;
  font-size: 14px;
  display: block;
  width: 100%;
  padding: 0.5rem 0.75rem;
  line-height: 1.25;
  color: #495057;
  background-color: #fff;
  background-image: none;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.input:focus {
  border-color: #80bdff;
  outline: 0;
}

.required__field {
  color: tomato;
  display: inline-block;
}

.required__info {
  padding: 0px 34px;
  font-weight: 600;
  font-size: 13px;
}

.textarea {
  resize: none;
  height: 470px;
  width: 100%;
  font-size: 14px;
  border: 1px solid #cccccc;
  padding: 0.5rem 0.75rem;
  line-height: 1.25;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.textarea:focus {
  border-color: #80bdff;
  outline: 0;
}

.internship__container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}

.internship__inner {
  width: 100%;
  min-height: 1px;
  padding: 0 15px;
}

.internship__inner__image {
  width: 100%;
  height: 213px;
  background-repeat: no-repeat;
  background-position: top;
  background-size: 100% auto;
}

.internship__inner__image:hover .button--hidden {
  display: inline-block;
}

.card__table__data {
  width: 50%;
}

.user__container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}

.user__inner {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding: 0 15px;
}

.user__inner__image {
  background-color: #fff;
  width: 100%;
  height: 213px;
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}

.user__inner__image:hover .button--hidden {
  display: inline-block;
}

.user__info {
  text-align: center;
  background-color: #e0e0e0;
  margin-bottom: 20px;
  padding: 1.25rem;
}

.user__profile {
  vertical-align: middle;
}

.user__profile:hover .button--hidden {
  display: inline-block;
}

.user__profile__image {
  background-color: #fff;
  border: 4px solid #fff;
  border-radius: 5px;
  width: 130px;
  height: 130px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.user__details {
  margin: 10px 0;
  text-align: center;
}

.user__name {
  color: #fff;
  text-shadow: 1px 1px 4px #373a3c;
  font-size: 20px;
  margin-bottom: 0.5rem;
  font-weight: 500;
}

.user__function {
  color: #fff;
  font-weight: 500;
  font-size: 0.875em;
}

@media (min-width: 769px) {
  .user__inner--padding {
    margin-bottom: 50px;
  }

  .user__info {
    position: absolute;
    width: 100%;
    bottom: calc(-25px - 1.25rem);
    background-color: transparent;
    margin-bottom: 0;
  }

  .user__profile {
    padding-right: 20px;
    display: inline-block;
    float: left;
  }

  .user__details,
.user__inner--inline {
    display: inline-block;
    width: auto;
    float: left;
  }

  .user__details {
    text-align: left;
    margin: 0;
  }
}
.preview__container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
  margin-bottom: 30px;
  background-color: #fff;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0 1px 11px 0 rgba(0, 0, 0, 0.12);
  border: none;
}

.preview__container__title {
  display: block;
  width: 100%;
  padding-bottom: 1em;
  color: #252421;
}

.preview__flex__child {
  flex: 1;
  flex-basis: 100%;
  max-width: 100%;
}

.preview__inner {
  position: relative;
  border-radius: 5px;
  box-shadow: 0 1px 11px 0 rgba(0, 0, 0, 0.12);
  border: none;
  background: #fff;
  height: 250px;
  width: initial;
  margin: 0px 5px 30px 5px;
}

.preview__image {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
  height: 100%;
}

.preview__form {
  position: absolute;
  left: 86%;
  top: -1px;
}

.preview__text {
  position: absolute;
  padding: 1em;
  bottom: 0%;
  color: #505458;
  background-color: #fff;
  overflow: hidden;
  text-overflow: ellipsis;
  width: -webkit-fill-available;
  width: 100%;
}

.preview__text--internship {
  font-size: 14px;
  font-weight: 600;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.preview__text--position {
  font-size: 13px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.preview__text--company {
  font-size: 13px;
  font-weight: 300;
  padding-top: 0.5em;
  display: inline-block;
  float: left;
}

.preview__text--distance {
  font-size: 13px;
  font-weight: 300;
  padding-top: 0.5em;
  display: inline-block;
  float: right;
}

.preview__button--add {
  display: block;
  width: 100%;
  margin-bottom: 1em;
  text-align: center;
}

.preview__container--link {
  flex: 1 1 250px;
}

@media (min-width: 768px) {
  .preview__flex__child {
    flex-basis: 50%;
    max-width: 50%;
  }
}
@media (min-width: 1024px) {
  .preview__container {
    justify-content: initial;
  }

  .preview__flex__child {
    flex: 1;
    flex-basis: 25%;
    max-width: 25%;
  }

  .preview__inner {
    width: initial;
    margin: 0px 5px 30px 5px;
  }
}
.applications__container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
  margin-bottom: 30px;
  background-color: #fff;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0 1px 11px 0 rgba(0, 0, 0, 0.12);
  border: none;
}

.preview__flex__child {
  flex: 1;
  flex-basis: 100%;
  max-width: 100%;
}

.application__single__container {
  position: relative;
  border-radius: 5px;
  box-shadow: 0 1px 11px 0 rgba(0, 0, 0, 0.12);
  border: none;
  background: #fff;
  height: 250px;
  width: initial;
  margin: 0px 5px 30px 5px;
}

.application__student__profile {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  background-color: rgba(222, 74, 67, 0.5);
  position: relative;
  z-index: 5;
}

.application____internship__status--waiting {
  background-color: rgba(254, 207, 91, 0.5);
}

.application____internship__status--denied {
  background-color: rgba(222, 74, 67, 0.5);
}

.application____internship__status--accepted {
  background-color: rgba(147, 190, 82, 0.5);
}

.application__internship__photo {
  position: absolute;
  top: 0;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: 50% 50%;
  object-position: 50% 50%;
  height: 100%;
}

.student__image {
  width: 4em;
  height: 4em;
  margin-right: 0.5em;
}

.student__text {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.student__name {
  color: #fff;
  font-weight: 600;
}

.student__status {
  color: #fff;
  width: 100%;
  display: block;
  font-style: italic;
}

.application__internship__preview {
  z-index: 5;
}

.application____internship__text {
  position: absolute;
  padding: 1em;
  bottom: 0%;
  color: #505458;
  background-color: #fff;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  width: -webkit-fill-available;
}

.application____internship__text--title {
  font-size: 14px;
  font-weight: 600;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.application____internship__text--description {
  font-size: 13px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.application__internship__notification__buttons {
  display: none;
  z-index: 5;
  position: relative;
  text-align: center;
  margin-top: 2em;
}

.application__single__container:hover .application__internship__notification__buttons {
  display: block;
}

.application__single__container:hover .application__internship__photo {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

@media (min-width: 768px) {
  .preview__flex__child {
    flex-basis: 50%;
    max-width: 50%;
  }
}
@media (min-width: 1024px) {
  .applications__container {
    justify-content: initial;
  }

  .preview__flex__child {
    flex: 1;
    flex-basis: 25%;
    max-width: 25%;
  }

  .application__single__container {
    width: initial;
    margin: 0px 5px 30px 5px;
  }
}
/*KEYFRAMES*/