/*VARIABLES*/
/*COMPONENTS CSS*/
.container {
  position: relative;
}

.privacy__box {
  background-color: #fff;
  border-radius: 8px;
  margin: 20px 0 0;
  padding: 20px;
  box-shadow: 0 2px 18px -2px #000;
}

.privacy__title {
  color: #666;
  font-size: 24px;
  font-weight: 600;
  margin-top: 15px;
  margin-bottom: 15px;
}

.privacy__subtitle {
  color: #666;
  font-size: 20px;
  font-weight: 600;
  margin-top: 15px;
  margin-bottom: 15px;
}

.privacy__paragraph {
  color: #252421;
  padding-bottom: 5px;
  font-size: 13px;
  margin-bottom: 1rem;
}

@media (min-width: 1024px) {
  .auth__card {
    width: 900px;
  }
}
/*KEYFRAMES*/