/*VARIABLES*/
/*COMPONENTS CSS*/
.slider {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.slider__container {
  width: 40px;
  border-radius: 14px;
  cursor: pointer;
  margin-right: 10px;
}

.slider__container--disabled {
  border: 2px solid #cccccc;
  background-color: #cccccc;
}

.slider__container--active {
  border: 2px solid #DE4A43;
  background-color: #DE4A43;
}

.slider__item {
  position: relative;
  border-radius: 50%;
  width: 20px;
  height: 20px;
}

.slider__item--disabled {
  border: 2px solid #cccccc;
  background-color: #fff;
  left: 0%;
}

.slider__item--active {
  border: 2px solid #DE4A43;
  background-color: #fff;
  order: 2;
  left: 50%;
}

.slider__item--checkbox {
  visibility: hidden;
}

/*KEYFRAMES*/