/*VARIABLES*/
/*COMPONENTS CSS*/
.upload {
  display: none;
}

.upload__visual {
  width: 100%;
  display: block;
  margin: 0 auto 25px;
  padding: 25px;
  color: #97a1a8;
  background: #f9fbfe;
  border: 2px dashed #c8cbce;
  text-align: center;
  cursor: pointer;
  transition: box-shadow 0.3s, border-color 0.3s;
}

.upload__visual__icon {
  font-size: 48px;
  margin-top: -10px;
  transition: all 0.3s ease;
  margin-bottom: 10px;
}

.upload__visual__text {
  font-size: 18px;
}

.upload__visual__subtext {
  margin: 15px 0;
  font-size: 12px;
  display: block;
}

.card__table__data {
  width: 50%;
}

.button__center {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.button__center--margin {
  margin-top: 0;
  margin-bottom: 20px;
}

.button {
  margin-right: 10px;
  background-color: #4680ff;
  border-color: #4680ff;
  color: #fff;
  cursor: pointer;
  transition: all ease-in 0.3s;
  border-radius: 2px;
  text-transform: capitalize;
  font-size: 15px;
  padding: 10px 19px;
  margin-bottom: 5px;
  box-shadow: none;
  border: none;
}

.button--big {
  width: 120px;
}

.button--fullWidth {
  width: 100%;
  margin-bottom: 15px;
}

.button--transparent {
  background-color: transparent;
  color: #303548;
}

.button--margin {
  margin-right: 0;
  font-weight: 600;
  display: inline-block;
}

.button--right {
  margin: 0;
  padding: 8px 14px;
  line-height: 16px;
  font-size: 11px;
  float: right;
}

.button--hidden {
  display: none;
}

.button__icon {
  margin-right: 5px;
}

.button__social {
  background-color: #3c5a99;
  border-color: #3c5a99;
  border-radius: 2px;
  color: #fff;
  cursor: pointer;
  text-transform: capitalize;
  font-size: 15px;
  padding: 10px 19px;
  font-weight: 400;
  text-align: center;
  display: inline-block;
}

.button__social__icon {
  padding: 5px 0;
  display: inline-block !important;
  border-radius: 3px 0 0 3px;
  margin: -7px 0 -7px -13px;
  margin-right: 5px;
}

@media (min-width: 769px) {
  .buttons__container {
    float: right;
    bottom: 38px;
    right: 35px;
    position: absolute;
  }
}
.card__container {
  position: relative;
  width: 100%;
  min-height: 1px;
  margin-bottom: 30px;
}

.card__inner {
  border-radius: 5px;
  box-shadow: 0 1px 11px 0 rgba(0, 0, 0, 0.12);
  border: none;
  margin-bottom: 30px;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
}

.card__header {
  border-bottom: none;
  padding: 25px 20px;
  border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
}

.card__title {
  margin-bottom: 0;
  color: #505458;
  font-size: 14px;
  font-weight: 600;
  display: inline-block;
  margin-right: 10px;
  line-height: 1.4;
}

.card__body {
  padding: 1.25rem;
  padding-top: 0;
}

.card__text {
  line-height: 25px;
  font-size: 13px;
  margin-bottom: 1rem;
}

.card__info {
  display: inline-block;
  width: 100%;
  overflow-x: auto;
}

.card__table {
  width: 100%;
  border-collapse: collapse;
  max-width: 100%;
}

.card__table__row {
  padding-bottom: 20px;
}

.card__table__data {
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #e9ecef;
  white-space: nowrap;
  text-align: left;
  font-size: 14px;
  width: 60%;
  max-width: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.card__table__data--big {
  width: 40%;
}

@media (min-width: 1200px) {
  .card__info {
    flex: 0 0 50%;
    max-width: 50%;
    float: left;
    padding: 0 15px;
  }

  .card__body--padding {
    margin: 0 -15px;
  }
}
/*KEYFRAMES*/