/*VARIABLES*/
/*COMPONENTS CSS*/
.preview__container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
  margin-bottom: 30px;
  background-color: #fff;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0 1px 11px 0 rgba(0, 0, 0, 0.12);
  border: none;
}

.preview__container__title {
  display: block;
  width: 100%;
  padding-bottom: 1em;
  color: #252421;
}

.preview__inner {
  position: relative;
  border-radius: 5px;
  box-shadow: 0 1px 11px 0 rgba(0, 0, 0, 0.12);
  border: none;
  background: #fff;
  height: 250px;
  margin: 0px 10px 30px -5px;
}

.preview__image {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
  height: 100%;
}

.preview__form {
  position: absolute;
  left: 86%;
  top: -1px;
}

.preview__text {
  position: absolute;
  padding: 1em;
  bottom: 0%;
  color: #505458;
  background-color: #fff;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}

.preview__text--internship {
  font-size: 14px;
  font-weight: 600;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.preview__text--position {
  font-size: 13px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.preview__text--company {
  font-size: 13px;
  font-weight: 300;
  padding-top: 0.5em;
}

.preview__button--add {
  display: block;
  width: 100%;
  margin-bottom: 1em;
}

.preview__container--link {
  flex: 1 1 250px;
}

@media (min-width: 1024px) {
  .preview__container {
    justify-content: initial;
  }
}
.search__field__container {
  margin-bottom: 30px;
  background-color: #fff;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0 1px 11px 0 rgba(0, 0, 0, 0.12);
  border: none;
  flex-direction: column;
  display: flex;
}

.search__field {
  display: flex;
  display: -ms-flexbox;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 0 -15px;
  border-bottom: 1px solid #252421;
}

.search__field--input {
  margin: 0;
  width: 95%;
  color: #252421;
  background-color: #fff;
  font-size: 14px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-shadow: none;
  padding: 6px 22px 6px 10px;
  outline: none;
  border: 1px solid transparent;
}

.search__field--btn {
  width: 5%;
  cursor: pointer;
  color: #ccc;
  background-color: transparent;
  border: transparent;
}

.applications__container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
  margin-bottom: 30px;
  background-color: #fff;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0 1px 11px 0 rgba(0, 0, 0, 0.12);
  border: none;
}

.application__single__container {
  position: relative;
  border-radius: 5px;
  box-shadow: 0 1px 11px 0 rgba(0, 0, 0, 0.12);
  border: none;
  background: #fff;
  width: 250px;
  height: 250px;
  margin: 0px 10px 30px -5px;
}

.application__student__profile {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  background-color: rgba(222, 74, 67, 0.5);
  position: relative;
  z-index: 5;
}

.application____internship__status--waiting {
  background-color: rgba(254, 207, 91, 0.5);
}

.application____internship__status--denied {
  background-color: rgba(222, 74, 67, 0.5);
}

.application____internship__status--accepted {
  background-color: rgba(147, 190, 82, 0.5);
}

.application__internship__photo {
  position: absolute;
  top: 0;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: 50% 50%;
  object-position: 50% 50%;
  height: 100%;
}

.student__image {
  width: 4em;
  height: 4em;
  margin-right: 0.5em;
}

.student__text {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.student__name {
  color: #fff;
  font-weight: 600;
}

.student__status {
  color: #fff;
  width: 100%;
  display: block;
  font-style: italic;
}

.application__internship__preview {
  z-index: 5;
}

.application____internship__text {
  position: absolute;
  padding: 1em;
  bottom: 0%;
  color: #505458;
  background-color: #fff;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 250px;
}

.application____internship__text--title {
  font-size: 14px;
  font-weight: 600;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.application____internship__text--description {
  font-size: 13px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.application__internship__notification__buttons {
  display: none;
  z-index: 5;
  position: relative;
  text-align: center;
  margin-top: 2em;
}

.application__single__container:hover .application__internship__notification__buttons {
  display: block;
}

.application__single__container:hover .application__internship__photo {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

@media (min-width: 1024px) {
  .applications__container {
    justify-content: initial;
  }
}