/*VARIABLES*/
/*COMPONENTS CSS*/
.preview__container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  justify-content: initial;
}

.preview__inner {
  position: relative;
  border-radius: 5px;
  box-shadow: 0 1px 11px 0 rgba(0, 0, 0, 0.12);
  border: none;
  background: #fff;
  width: 250px;
  height: 250px;
  margin: 0px 10px 30px -5px;
}

.preview__image {
  position: absolute;
}

.preview__text {
  position: relative;
  padding: 10%;
  top: 70%;
  color: #505458;
  background-color: #fff;
  overflow: hidden;
  text-overflow: ellipsis;
}

.preview__text--internship {
  font-size: 14px;
  font-weight: 600;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.preview__text--position {
  font-size: 13px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.search__field__container {
  margin-bottom: 30px;
  background-color: #fff;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0 1px 11px 0 rgba(0, 0, 0, 0.12);
  border: none;
  flex-direction: column;
  display: flex;
}

.search__field {
  display: flex;
  display: -ms-flexbox;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 0 -15px;
  border-bottom: 1px solid #303548;
}

.search__field--input {
  margin: 0;
  width: 95%;
  color: #303548;
  background-color: #fff;
  font-size: 14px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-shadow: none;
  padding: 6px 22px 6px 10px;
  outline: none;
  border: 1px solid transparent;
}

.search__field--btn {
  width: 5%;
  cursor: pointer;
  color: #ccc;
  background-color: transparent;
  border: transparent;
}

/*KEYFRAMES*/